* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Logo-index {
  width: 100px;
  height: auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  margin: auto;
  padding: 0;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  margin: 0;
  text-align: center;
}

section p {
  color: #555;
}

footer {
  background-color: #262424;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.footer-secciones ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-secciones ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-secciones ul li a {
  text-decoration: none;
  color: wheat;
}

.footer-redes {
  margin-top: 10px;
}

.footer-redes a {
  margin-right: 10px;
}

.footer-redes img {
  width: 20px;
}

header {
  background-color: white;
  color: white;
}

header h1 {
  color: black;
  text-align: center;
  margin-bottom: 1rem;
  margin: 10px;
  background-color: inherit;
  display: inline-block;
}

header li {
  text-align: center;
  margin-bottom: 0.5rem;
}

nav ul {
  background-color: rgb(127, 142, 255);
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  margin-top: 20px;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

#formulario_busqueda {
  padding: 10px;
  border: 1px solid #ccc;
  width: 200px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#formulario_busqueda input[type=Busqueda] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

#formulario_busqueda input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.tarjeta-2 {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.tarjeta-2 img {
  width: 10%;
  margin: auto;
}

.tarjeta-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tarjeta-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  color: red;
  width: 45%;
  margin: 10px;
}
@media screen and (max-width: 768px) {
  .tarjeta-3 {
    width: 90%;
    margin: 5px;
  }
}
.tarjeta-3 img {
  width: 50%;
  margin: auto;
}

.row {
  /* Ajustar el margen horizontal entre las tarjetas */
  margin: -15px;
}

.tarjeta-4 {
  background-color: cornflowerblue;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s ease-in-out;
}
.tarjeta-4 img {
  max-width: 100%;
  border-radius: 5px;
}
.tarjeta-4 h3 {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #333;
}
.tarjeta-4 p {
  color: #666;
}
.tarjeta-4:hover {
  transform: scale(1.05);
}
.tarjeta-4 .titulo-h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}
.tarjeta-4 .tarjeta-2-content {
  padding: 20px;
}

.col-md-6,
.col-lg-4 {
  padding: 15px;
}

.tarjeta-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  color: red;
}

.centrar-tarjetas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 10px;
  background-image: url("../img/backround rocket.png");
  background-size: 100%;
}
@media screen and (max-width: 768px) {
  .centrar-tarjetas {
    background-size: auto;
  }
}
.centrar-tarjetas h2, .centrar-tarjetas p {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(196, 18, 80);
  padding: 10px;
  margin: 0;
  border-radius: 10px;
}

.tarjeta-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 90%;
  margin: 10px;
  height: inherit;
  border-radius: 10px;
}

.titulo-h2 {
  font-size: 24px;
  color: rgb(196, 18, 80);
  margin-bottom: 10px;
}

.titulo-h3 {
  font-size: 24px;
  color: rgb(50, 1, 163);
  margin-bottom: 10px;
  text-align: center;
}

.tarjeta p {
  font-size: 16px;
  text-align: center;
}

.tarjeta-2 p {
  font-size: 16px;
  text-align: center;
}

#formulario_contacto {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
}
#formulario_contacto div {
  margin-bottom: 10px;
}
#formulario_contacto label {
  display: block;
  margin-bottom: 5px;
}
#formulario_contacto input {
  width: 100%;
  padding: 5px;
}
#formulario_contacto select {
  width: 100%;
  padding: 5px;
}
#formulario_contacto textarea {
  width: 100%;
  padding: 5px;
}
#formulario_contacto button {
  padding: 10px 20px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.tarjeta p {
  font-size: 16px;
  text-align: center;
}
.tarjeta img {
  width: 20px;
  margin: auto;
}

.titulo-h2 {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(196, 18, 80);
  margin-bottom: 10px;
}

.titulo-h3 {
  font-size: 24px;
  color: rgb(50, 1, 163);
  margin-bottom: 10px;
  text-align: center;
}

.tarjeta-3 p {
  font-size: 16px;
  text-align: center;
}

.contactanos {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
}
.contactanos a {
  display: inline-block;
  padding: 10px 20px;
  background-color: crimson;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

.titulo-h2 {
  font-size: 24px;
  color: rgb(196, 18, 80);
  margin-bottom: 10px;
}

.titulo-h3 {
  font-size: 24px;
  color: rgb(50, 1, 163);
  margin-bottom: 10px;
  text-align: center;
}

.tarjeta p {
  font-size: 16px;
  text-align: center;
}

.tarjeta-2 p {
  font-size: 16px;
  text-align: center;
}

.titulo-h2 {
  font-size: 24px;
  color: rgb(196, 18, 80);
  margin-bottom: 10px;
}

.titulo-h3 {
  font-size: 24px;
  color: rgb(50, 1, 163);
  margin-bottom: 10px;
  text-align: center;
}

.tarjeta p {
  font-size: 16px;
  text-align: center;
}

.tarjeta-2 p {
  font-size: 16px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
