* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body */

#Logo-index {
    width: 100px;
    height: auto;
}


body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: auto;
    padding: 0;
}

/*  Header */

header {
    background-color: white;
    color: white;

}

header h1 {
    color: black;
    text-align: center;
    margin-bottom: 1rem;
    margin: 10px;
    background-color: inherit;
    display: inline-block;
}


header li {
    text-align: center;
    margin-bottom: 0.5rem;
}


nav ul {
    background-color: rgb(127, 142, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Estilos del formulario header */

#formulario_busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
}

#formulario_busqueda input[type="Busqueda"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

#formulario_busqueda input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


/* Estilos del main */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    margin: 0;
    text-align: center;
}

section p {
    color: #555;
}

#contactanos {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#contactanos a {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}



/* Estilos del footer */
footer {
    background-color: #262424;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.footer-secciones ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-secciones ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-secciones ul li a {
    text-decoration: none;
    color: wheat;
}

.footer-redes {
    margin-top: 10px;
}

.footer-redes a {
    margin-right: 10px;
}

.footer-redes img {
    width: 20px;
}



/* Estilos tarjetas */

.tarjeta {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.tarjeta-2 {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.titulo-h2 {
    font-size: 24px;
    color: rgb(196, 18, 80);
    margin-bottom: 10px;
}

.titulo-h3 {
    font-size: 24px;
    color: rgb(50, 1, 163);
    margin-bottom: 10px;
    text-align: center;
}


.tarjeta p {
    font-size: 16px;
    text-align: center;

}

.tarjeta-2 p {
    font-size: 16px;
    text-align: center;

}


/* Estilos formulario busqueda */

#formulario_busqueda {
    padding: 10px;
    border: 1px solid #ccc;
    width: 200px;
    position: absolute;
    top: 10px;
    right: 10px;
}


/* Estilos formulario contacto */

#formulario_contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 0 auto;
}

#formulario_contacto div {
    margin-bottom: 10px;
}

#formulario_contacto label {
    display: block;
    margin-bottom: 5px;
}

#formulario_contacto input,
#formulario_contacto select,
#formulario_contacto textarea {
    width: 100%;
    padding: 5px;
}

#formulario_contacto button {
    padding: 10px 20px;
}

/* Media Queries */

/* INTENTE ESTOS PERO NO ME SALIO DEJARLOS CON LOS px DETERMINADOS EN LAS CONSIGNAS */

    /* @media (min-width: 480px) {
    .navbar-expand-lg {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-collapse {
        padding-top: 10px;
    }

    .navbar-toggler {
        margin-top: 10px;
    }

    .navbar-toggler-icon {
        background-color: inherit;
    }

    .navbar-nav li {
        margin-bottom: 10px;
    }
} */

    /* Estilos para vista de escritorio */
    /* @media (min-width: 1200px) {
    .navbar-nav {
        gap: 10px;
    }

    .navbar-nav.ms-auto {
        margin-left: auto;
    }

    .form-control {
        width: 250px;
    }
} */